body{
    background-color: #454645;
    color: #d5d8d5;
}

.card {
    
    width: 16vw;
    height: 40vh;
    background-color: #6a8a04;
    display: flex ;
    flex-direction: column;
    margin: 0;
    padding: 0;
justify-content: center
}

.nome {
    font-size: 1.8vw;
}